nav{
    display: flex;
    justify-content: space-between;
    font-family: var(--main-f-f);
    padding: 6px 0;
}

.nav__register{
    display: flex;
    align-items: center;
    gap: 0 24px;
    h1{
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
    .link-log{
        color: #0654BA;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
    p{
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
}


.register{
    display: flex;
    align-items: center;
    gap: 0 4px;
}


.help-contact{
    display: flex;
    align-items: center;
    gap: 0 20px;
}


.sells{
    display: flex;
    align-items: center;
    p{
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
    select{
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
    .icon{
        font-size: 18px;
    }
    >div{
        display: flex;
        gap: 0 24px;
    }
    gap: 0 32px;
}

